<nav>
    <ul>
        <li>
            <%= link_to "首頁", boards_path %>
        </li>
        <li>
            <%= link_to "看板列表", boards_path %>
        </li>
        <li>文章列表</li>
        <li>link</li>
        <li>link</li>
    </ul>
</nav>