nav {
    background-color: hsl(240, 76%, 92%);
    font-style: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    margin: 0 10px;
}